.formControl {
    display: flex; justify-content: space-between;
}
.formControl.error input, .formControl.error select {
    border: solid red 2px;
}
.formControl.error span {
    color: white;
}
span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

@media only screen and (max-width: 767px) { /* 480<width<767 main 480*/
    .formControl {display: block;}
    input {width:80%; margin: 5px 0;}
    select {width:80%; margin: 5px 0;}
    span {margin: 0 auto;}
}